body {
    font-family: 'GrundschriftBold';
    background-color: #fee;
}

header {
    display: flex;
    justify-content: space-between;

    font-family: 'AlexBrushRegular';
    font-size: 36px;
    font-style: italic;
}

#final-doll {
    border: 3px solid black;
    background-color: white;
}

.content {
    display: flex;
}

.result-container {
    margin: 15px;
}

.drawer-tabs {
    display: flex;
    width: 100%;
}

.drawer-tab {
    /* margin-right: 1px; */
    border: 1px solid black;
    border-bottom: 0;
    padding: 5px 10px;

    border-radius: 5px 5px 0 0;
    background-color: #cbb;
}
.drawer-tab.active {
    background-color: #e9b;
    /* border-bottom: 1px solid white; */
    z-index: 10;
}

.drawer-content {
    position: relative;
    top: -1px;
    border: 1px solid black;
    /* border-top: 0; */
    background-color: #e9b;
}

.drawer-source-images img {
    display: none;
}
